body {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.container {
    background: url('../images/spaceback.gif');
    background-size: contain;
    margin: 0 auto;
    width: 100%;
} 

.score {
font-size: 40px;
color: white;
font-style: bold;
left: 30;
top: 20;
}

/* .catVid {
    width: 0;
    height: 0;
} */
